{% include '@helloworld/tab-template.html.twig' %}

<!-- HelloWorldモジュール用のスタイルシートの読み込み -->
<link rel="stylesheet" href="/modules/custom/helloworld/css/kuji.css">

<div id="app">
    <button id="resetGame">ゲームをリセット</button>
    <button id="drawTickets">チケットを引く</button>
    <input type="number" id="selectedCount" min="1" max="10" placeholder="0">
    <div id="results"></div>
    <div id="remaining">残りチケット数: <span id="remainingTickets">80</span></div>
    <div id="ticketPrice">1回800円</div>
    <div id="totalAmount">使用金額:</div>
</div>

<!-- JavaScriptファイルの読み込み -->
{{ attach_library('helloworld/helloworld.kuji') }}