{# helloworld/templates/my-template.html.twig #}
{# このテンプレートは、helloworld モジュールで使用されます。#}

{# タブのテンプレートをインクルードします #}
{% include '@helloworld/tab-template.html.twig' %}

{# 静的なテキストを表示します。#}
<p>Test twig template!</p>

{% if variables is not empty %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            {# ここにデータが入る #}
        </tbody>
    </table>
{% else %}
    <p>No contacts found.</p>
{% endif %}

{# JavaScriptファイルを読み込む #}
{{ attach_library('helloworld/helloworld.accordion') }}