{# helloworld/templates/my-template.html.twig #}
{# このテンプレートは、helloworld モジュールで使用されます。#}

{# タブのテンプレートをインクルードします #}
{% include '@helloworld/tab-template.html.twig' %}

{# 静的なテキストを表示します。#}
<p>Test twig template!</p>

{# test_var 変数の値を表示します。この変数は、Drupalのコントローラから渡されるべきです。#}
<p>test_var: {{ test_var }}</p>