{% include '@helloworld/tab-template.html.twig' %}

<!-- テスト用Twigテンプレート -->
<p>Test twig template!</p>

<input type="text" id="searchInput" onkeyup="filterTable()" placeholder="検索">

{% if variables is not empty %}
    <!-- データが存在する場合のテーブル -->
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            {# データがここに入る #}
        </tbody>
    </table>
{% else %}
    <!-- データが存在しない場合のメッセージ -->
    <p>No contacts found.</p>
{% endif %}

<!-- JavaScriptファイルの読み込み -->
{{ attach_library('helloworld/helloworld.accordion') }}