<!-- HelloWorldモジュール用のスタイルシートの読み込み -->
<link rel="stylesheet" href="/modules/custom/helloworld/css/styles.css">

<!-- タブナビゲーションのリンク一覧 -->
<ul class="tabs-navigation">
  <li><a href="/test/contact/display">お問い合わせ2管理</a></li>
  <li><a href="/test/contact">お問い合わせ2</a></li>
  <li><a href="/dice">さいころ当てゲーム</a></li>
  <li><a href="/hello">ハローページ</a></li>
  <li><a href="/hello/contact">お問い合わせ</a></li>
  <li><a href="/hello/submissions">お問い合わせ管理</a></li>
</ul>

<!-- HelloWorldモジュール用のJavaScriptファイルの読み込み -->
<script src="/modules/custom/helloworld/js/scripts.js"></script>